body{
    margin: auto;
    max-width: 50%;
    min-width: 500px;
    min-height: 1000px;
}

.h1Heading{
    font-style: italic;
    color: white;
}

legend{
    font-style: revert;
    color: darkred;
}
.header_background-color{
    background-color: #006591;
}
.body-bg-color{
    background-color: #fefefe;
}

.main_blue{
    color: #006591;
}
.requiredErrMsg{
    color: red;
    padding-left: 10px;
}